<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <H1>Do Analysis</H1> <br><br>

    <form action="/model" label="Select any One" method="post" class="model"><br>
        <input type="submit" name="output" id="" value="Sentiment Analysis" class="button"><br><br>
        <input type="submit" name="output" id="" value="Named Entity Recognition" class="button"><br><br>
        <input type="submit" name="output" id="" value="Emotion Detection" class="button"><br><br>
        <input type="submit" name="output" id="" value="Recipe Recommendation" class="button"><br><br><br>
        <input type="submit" name="output" id="" value="LOGOUT" class="logout">

    </form>
</body>
</html>